#contents {
    padding-top:80px;
    @include mq(tab-l) {
        padding-top: 50px;
    }
    @include mq(sp) {
        padding-top: 0;
    }
    .contents-inner{
        background-color: $bg-gray;
        margin: 100px 0 0 0;
        padding-bottom: 80px;
    }
    .title {
        height: 80px;
        margin: 100px 0;
        text-align: center;
        display: block;
        @include mq(tab-l) {
           
            margin-bottom: 50px;
        @include mq(sp) {
            margin-bottom: 0;
        }
        }
        img {
            margin-top:-60px;
            height: 80px;
            
        }
    }
    .contents-img-area {
        display: grid;
        grid-template-rows: 1fr  1fr;
        grid-template-columns: 1fr  1fr;
        padding: 2rem;
        @include mq(tab-l){
            grid-template-rows: 1fr;
            grid-template-columns:  1fr;
            padding: 4rem;
            gap:3rem;
        }
        @include mq(sp){
            padding: 2rem;
        }
        gap: 2rem;
        width: 100%;
        img {
            width: 100%;
        }
    }
    .contents-btn{
        margin-top: -10px;
        margin-bottom: 80px;
        text-align: center;
        a{
           
           @include gradient;
           padding: 2rem 3rem;
           color: #fff;
           font-weight: bold;
           font-size: 1.5em;
           border-radius: 30px;
           @include mq(sp) {
               padding: 1rem 2rem;
               font-size: 3.8vw;
           }
        }
    }
}
