#price .inner {
    margin-bottom: 128px;
    padding-top: 60px;
    @include mq(tab) {
        margin-bottom: 96px;
        }
    @include mq(sp) {
        margin-bottom: 48px;
        }
}
.price__title {
    max-width: 268px;
    margin: 0 auto 48px;
    @include mq(sp) {
        margin: 0 auto 35px;
        }
        //common.css上書きここから
.section__main-title {
    :last-child {
        &::before {
            width: 350%;
        }
    }
  }
  //common.css上書きここまで
}
.price__course {
    margin-bottom: 65px;
    padding: 0 16px;
    @include mq(sp) {
        margin-bottom: 35px;
        padding: 0 8px;
        }
}
.price__course-pc {
    display: block;
    @include mq(tab) {
        display: none;
        }
}
.price__course-sp {
    display: none;
    @include mq(tab) {
        max-width: 650px;
        margin: 0 auto;
        display: block;
        }
}
.price__comparison-table {
    margin-bottom: 78px;
    overflow-x: scroll;
    .table{
        width:880px;
        text-align: center;
        
        display: flex;
        
        align-items: center;
        transform: scale(.9);
        margin-left: 3rem;
        @include mq(tab) {
            margin-left: 1rem;
        }

    }
    ul{
       width: 195px;
       :first-child{
         background-color: #CCCCCC;
       }
    }
    li{
        height: 35px;
        border: 0.7px solid rgb(216, 203, 203);
        margin: auto;
        width: 195px;
        line-height: 35px;
    }
    .highlight{
        background-color:#FAAE40;
        color:#fff;
        line-height:150%;
        transform: scale(1.05);
        :first-child{
            background-color:#F48300;
        }
    }

    img {
        min-width: 880px;
    }
    @include mq(sp) {
        margin-bottom: 45px;
        }
}
.price-btn {
        text-align: center;
        a{
           @include gradient;
           padding: 2rem 3rem;
           color: #fff;
           font-weight: bold;
           font-size: 1.5em;
           border-radius: 30px;
           @include mq(tab) {
            padding: 2rem 3rem;
            font-size: 3.5vw;
            }
            @include mq(sp) {
                padding: 1rem 1rem;
                font-size: 4vw;
            }
        }
}