.sec__voice {
    padding-top: 60px;
    margin-bottom: 34px;
    text-align: center;
    .inner {
        position: relative;
        margin-bottom: 120px;
        padding: 140px 100px 100px;
        max-width: 100%;
        background-color: #e0e0e0;
        @include mq(pc) {
            padding: 140px 16px 100px;
        }
        @include mq(tab) {
            padding: 100px 0 100px;
            margin-bottom: 60px;
        }
        @include mq(sp) {
            padding: 50px 0px 60px;
            margin-bottom: 0;
            }
    }
}
.voice__title {
    width: 268px;
    margin: 0 auto 157px;
    @include mq(tab) {
        margin: 0 auto 128px;
        }
    @include mq(sp) {
        margin: 0 auto 80px;
        }
                //common.css上書きここから
.section__main-title {
    :last-child {
        &::before {
            width: 220%;
        }
    }
  }
  //common.css上書きここまで
}
.voice__wrap {
    padding: 60px 90px 90px;
    margin: 0 auto 90px;
    max-width: 1200px;
    // background-color:#fff;
    border-radius: 30px;
    // height: 1000px;
    @include mq(pc) {
        padding: 60px 16px 90px;
    }
    @include mq(tab) {
    background-color: #e0e0e0;
    padding: 0;
    }
    @include mq(sp) {
        padding: 20px 0 60px;
        margin: 0 auto;
        }
}
.voice__article {
    // position: absolute;
    // top: -4%;
    // left: 50%;
    // transform: translateX(-50%);
    // width: 717px;
    // @include mq(tab) {
    //     max-width: 100%;
    //     padding: 0 16px;
    //     top: -5%;
    // }
    // @include mq(sp) {
    //     top: -3.5%;
    // }

    display: flex;
    width: 100%;
    padding: 2rem ;
    @include mq(tab) {
        padding: 1rem;
    }
    background-color: #fff;
    border-radius:2rem;
    margin-bottom: 2rem;
    .voice_img {
        text-align: center;
        width: 35%;
        @include mq(sp) {
            width: 100%;
        }
        border-right: 1px solid #000;
        font-size: 1.2rem;
        @include mq(tab) {
            font-size: 0.8rem;
        }
    }
    .voice_text {
        text-align:left;
        margin-left:2rem;
    }
    .voice_title{
        font-size: 3rem;
        @include mq(tab) {
            font-size: 2rem;
        }
        @include mq(sp) {
            font-size: 1.5rem;
        }
        font-weight: bold;
        color:#FF7F4A;
        padding-bottom: 1.5rem;
    }
    .voice_comment{
        font-size: 1.5rem;
        @include mq(tab) {
            font-size: 1rem;
        }
    }

}
.voice__examples {
    width: 100%;
    @include mq(tab) {
        overflow-x: scroll;
        img {
            min-width: 670px;
        }
    }
}
.voice-btn {
        text-align: center;
        a{
           @include gradient;
           padding: 2rem 3rem;
           color: #fff;
           font-weight: bold;
           font-size: 1.5em;
           border-radius: 30px;
           @include mq(tab) {
            padding: 2rem 3rem;
            font-size: 3.5vw;
            }
            @include mq(sp) {
                padding: 1rem 1rem;
                font-size: 4vw;
            }
        }
}